/** Cards */
.store-card_body-c {
    background-color: var(--primary-bg) !important;
}

.store-card_card-c {
    border: var(--accent) 2px solid !important;
    min-width: fit-content;
}

.note-card {
    border: 1px solid var(--accent);
    background-color: var(--primary-bg);
}

.selected-card {
    /* color: pink; */
    border: 4px solid var(--accent-complement) !important;
}


