/** links */


.style-link {
    color: var(--accent) !important;
    font-weight: bolder !important;
    font-size: larger !important;
    border: 1px dashed !important;
    padding: 3px !important;
    border-radius: 5px !important;
}

.style-link:hover {
    /* opposite everything */
    color: var(--body-background) !important;
    background-color: var(--accent) !important;
    /* border: 2px solid var(--body-background) !important; */
}

.credit-text {
    padding: 2px;
    background-color: var(--btn-primary) !important;
    color: var(--btn-txt-primary) !important;
}

.credit-link-user {
    color: var(--btn-txt-primary) !important;
    font-weight: bolder !important;    
}   

.credit-link-unsplash {
    color: var(--btn-secondary) !important;
    font-weight: bolder !important;
    font-style: italic !important;
    font-size: large !important;
}