/* keeps the theme colors the same but mode changes for body and text */
.cart-bg-dark {
    --primary-bg: #242426;
    --body-background: #171718;
    --primary-text: #d7dadc;
    --accent: #e3b448;
    --txt-for-accent: #242426;
    --accent-complement: #4877E3;
    --border-color: var(--accent);
    --btn-primary: #b2ac88;
    --btn-txt-primary: #171718;
    --btn-secondary: #3a6b35;
    --btn-txt-secondary: #ffffff;
    --badge-primary: #888EB2;
    --badge-secondary: #88B2AC;
    --badge-txt-primary: #ffffff;
    /* backwards compatibility */
    --body-text: var(--primary-text);
    --tag-background: var(--badge-primary);
    --storeTag-background: var(--badge-secondary);
    --badge-text: #171718;
    --active-link: var(--accent);
    --btn-hover-shadow: rgba(179, 182, 92, 0.4);
}

.cart-bg-light {
    --primary-bg: #d7dadc;
    --primary-text: #242426;
    --body-background: #f7f7f7;
    --accent-complement: #4877E3;
    --txt-for-accent: #d7dadc;
    --accent: #3a6b35;
    /* ^ keep the accent in light different than dark bc its more aesthetically pleasing */
    --border-color: var(--accent);
    --btn-primary: #b2ac88;
    --btn-txt-primary: #171718;
    --btn-secondary: #3a6b35;
    --btn-txt-secondary: #ffffff;
    --badge-primary: #888EB2;
    --badge-secondary: #88B2AC;
    --badge-txt-primary: #ffffff;
    --body-text: var(--primary-text);
    /* backwards compatibility */
    --tag-background: var(--badge-primary);
    --storeTag-background: var(--badge-secondary);
    --active-link: var(--btn-secondary);
    --badge-text: #171718;
    --btn-hover-shadow: rgba(137, 182, 92, 0.777);
}

body {
    background-color: var(--body-background) !important;
    color: var(--body-text) !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* main scrollbar on body */
body::-webkit-scrollbar {
    /* functional without display */
    display: none;
}

#root {
    height: 100vh !important;
    width: 100vw !important;
}

/** Uncategorized */

/* this is for the react-select */
.css-1f43avz-a11yText-A11yText {
    color: var(--primary-bg) !important;
}

/* the parent needs to be position:relative */
.bottom-right-container {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
}


#home-div-wrapper {
    background-color: var(--primary-bg);
    color: var(--body-text);
    position: absolute;
}