#darkCart:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
}

#lightCart:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: darkgray;
}

#lightCart {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
}

.selected-card {
    /* color: pink; */
    border: 4px solid greenyellow !important;
}


.credit-text {
    padding: 2px;
    /* font-style: italic; */
}

.credit-text-dark {
    color: #ffffff !important;
    background-color: var(--bs-dark) !important;
}

.credit-text-light {
    color: #000000 !important;
    background-color: var(--bs-light) !important;
}


.style-link {
    color: inherit !important;
    font-weight: bolder !important;
    font-size: larger !important;
    border: 1px dashed !important;
    padding: 3px !important;
    border-radius: 5px !important;
}


/* Form shtuff */
#input-dark {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}
#inpur-light {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}
/* .dark-selectBtn {
    background-color: #000000;
    color: #ffffff !important;
    border: 1px solid #ffffff;
} */

/* ! this will get our buttons to the far right side
.stick-right {
    margin-top: 1rem;
    display: flex;
    gap: .5rem;
    justify-content: flex-end,
} */

/*
#dark-tooltip {
    background-color: #000000;
    color: #ffffff;
}

#light-tooltip {
    background-color: #ffffff !important;
    color: #000000;
}
*/

/* .card.true-preview {
    size: 50px;
} */